twig:
    default_path: '%kernel.project_dir%/templates'
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    globals:
        recaptcha_public: '%recaptcha_public%'
        datas: '@App\Service\Datas'   