

body {
    position: absolute;
    top: 0;bottom: 0; left: 0; right: 0;
    height: 100%;
    margin:0;
    padding:0;
    background-size: 100% ;
    width:100%;  
    color:black;
    }
    body:before {
        content: "";
        position: fixed;
        height: 100%; width: 100%;
        background-image: url("../img/asie1.jpg");
        background-size: cover;
        z-index: -1; /* Keep the background behind the content */     
        -webkit-filter: blur(8px);
        -webkit-background-size: cover; /* pour Chrome et Safari */
        -moz-background-size: cover; /* pour Firefox */
        -o-background-size: cover; /* pour Opera */
        background-size: cover; /* version standardisée */
    }

.rounded-circle{
    width: 4% !important;
}

li{
    list-style-type: none;
}

a, p, h2, h3, h4, h5, li{
    color: rgb(255, 216, 126) !important;
}

.active{
    color: red;
}

.error{
    color: red;
}

.lead{
    text-align: center;
}

.bloc{
    color: rgb(255, 216, 126);
    background-color: #dc3545;
    border-radius: 3%;
}

.blok{
    color: rgb(255, 216, 126);
    border-radius: 3%;
}

form{
    color: rgb(255, 216, 126);
    background-color:  	#dc3545;
    border-radius: 3%;
}

.navbar .dropdown-item:hover{
    background-color: black;
}
.navbar .dropdown-item:active{
    background-color: black;
}
.navbar .dropdown-item:focus{
    background-color: black;
}

