

body {
    position: absolute;
    top: 0;bottom: 0; left: 0; right: 0;
    height: 100%;
    margin:0;
    padding:0;
    background-size: 100% ;
    width:100%;  
    color:black;
    }
    body:before {
        content: "";
        position: fixed;
        height: 100%; width: 100%;
        background-image: url("../img/asie1.jpg");
        background-size: cover;
        z-index: -1; /* Keep the background behind the content */     
        -webkit-filter: blur(8px);
        -webkit-background-size: cover; /* pour Chrome et Safari */
        -moz-background-size: cover; /* pour Firefox */
        -o-background-size: cover; /* pour Opera */
        background-size: cover; /* version standardisée */
    }

.rounded-circle{
    width: 4% !important;
}

li{
    list-style-type: none;
}

a, p, h2, h3, h4, h5, li{
    color: rgb(255, 216, 126) !important;
}

.active{
    color: red;
}

.error{
    color: red;
}

.lead{
    text-align: center;
}

.bloc{
    color: rgb(255, 216, 126);
    background-color: #dc3545;
    border-radius: 3%;
}

.blok{
    color: rgb(255, 216, 126);
    border-radius: 3%;
}

form{
    color: rgb(255, 216, 126);
    background-color:  	#dc3545;
    border-radius: 3%;
}

.navbar .dropdown-item:hover{
    background-color: black;
}
.navbar .dropdown-item:active{
    background-color: black;
}
.navbar .dropdown-item:focus{
    background-color: black;
}

#logotext{
    font-size: 1.8em;
    text-shadow: 2px 2px 5px black;
}

/* css page flight.html.twig */
.tdl {
    text-align: left;
    padding-left: 6px;
}

.bld {
    font-weight: bold;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee00;
}
#plane {
    position: absolute;
    left: 400px;
    top: 240px;
}

#flightInfo {
    display: none;
    width: 220px;
    position: absolute;
    left: 1000px;
    top: 150px;
    color: navy;
    font-size: 0.8em;
    background: #93E00D88;
    border-collapse: collapse;
    border: 2px solid navy;
    border-radius: 10px;
}

#flightInfoTable {
    margin: 2px;
}

#title{
    text-shadow: 2px 2px 20px navy;
    color: ivory;
}
/* fin css page flight.html.twig */