{% extends "base.html.twig" %}

{% block title %}Banque{% endblock %}
{% block stylesheets %}
 <style>
 .navbar{
    background:#343A40;
 }
 </style>
{% endblock %}
{% block body %}
<br><br><br><br>
<h1>Cette page est un placeholder de la future page des données bancaires récupérées avec les API</h1>
<a href="{{path('confirmOrder')}}">Cliquez ici pour confirmer votre achat</a>
{% endblock %}