{% extends "base.html.twig" %}

{% block title %}Banque{% endblock %}

{% block body %}
<h1>Cette page est un placeholder de la futur page des données banquaire récupérer avec les API</h1>
<a href="{{path('confirmOrder')}}">Cliquez ici vous confirmer votre achat</a>
{% endblock %}