{% extends "base.html.twig" %}

{% block title %}Confirmation commande{% endblock %}

{% block body %}
<h1>Votre commande est valider</h1>
<p>Vous recevrez les détails de votre commande par email</p>
<a href="{{path('home')}}">Retourner à l'accueil</a>
{% endblock %}