{% extends "base.html.twig" %}

{% block title %}Confirmation commande{% endblock %}
{% block stylesheets %}
 <style>
 .navbar{
    background:#343A40;
 }
 </style>
{% endblock %}
{% block body %}
<br><br><br><br>
<h1>Votre commande est validée</h1>
<p>Vous recevrez les détails de votre commande par email</p>
<a href="{{path('home')}}">Retourner à l'accueil</a>
{% endblock %}