{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}
{% block stylesheets %}
 <style>
 .navbar{
    background:#343A40;
 }
 </style>
{% endblock %}
{% block body %}
<br><br><br><br>
<!-- Formulaire connexion de l'admin-->
    {# msg de succès #}
    {% if success is defined %}
        <p class="alert alert-success col-4 offset-4 text-center">Vous êtes bien connecté ! <a href="{{ path('home') }}">Cliquez ici pour poursuivre</a></p>
    {% else %}
    <form id="formConnection" class="col-12 col-md-6 offset-md-3" method="POST">        
        <div class="form-group">
            <label for="email">Votre email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="exemple@exemple.com" name="email">
            {# msg d'erreur si email invalide #}
            {% if errorsList.invalidEmail is defined %}
                <p class="text-danger">Email invalide</p>
            {% endif %}
            {# msg d'erreur si l'admin n'existe pas #}
            {% if errorsList.notExist is defined %}
                <p class="text-danger">Compte inexistant</p>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" placeholder="Mot de passe" name="password">
            {# msg d'erreur si mot de passe invalide #}
            {% if errorsList.invalidPassword is defined %}
                <p class="text-danger">Mot de passe invalide</p>
            {% endif %}
            {# msg d'erreur si le mot de passe n'est pas le même que celui en BDD #}
            {% if errorsList.badPassword is defined %}
                <p class="text-danger">Mauvais mot de passe</p>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-danger col-12" style="background:#A0001E;">Connexion</button>
    </form>
    {% endif %}
{% endblock %}